<!-- Section  ---------------------------------------->
<section class="section-4">
  <div class="section-4-text">
    <h2 class="section-4-heading">Sign Me Up</h2>
    <p class="section-4-paragraph">Be the first to know our new products</p>
  </div>
  <form class="signup-form" action="/" method="post">
    <input class="signup-form-input" type="email" placeholder="Enter Your Email"/>
    <button class="signup-form-btn" type="submit" name="button"><i class="fas fa-arrow-right"></i></button>
  </form>
  <p class="copyright">Marvin&copy;All Rights Reserved</p>

</section>
<!-- End Section  ---------------------------------------->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="script.js" charset="utf-8"></script>
  </body>
</html>
