<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <title>Foods</title>
</head>

<body>
  <!-- NavBar -->
  <nav class="navbar target">
    <a href="/" class="navbar-link">
      <i class="fas fa-home"></i>
      <span>Home</span>
    </a>
    <a href="#s2" class="navbar-link">
      <i class="fas fa-utensils"></i>
      <span>Meals</span>
    </a>
    <a href="#s3" class="navbar-link">
      <i class="fas fa-fire-alt"></i>
      <span>Popular</span>
    </a>
    <a href="/about" class="navbar-link">
      <i class="fas fa-question"></i>
      <span>About</span>
    </a>
    <a href="/signup" class="navbar-link">
      <i class="fas fa-sign-in-alt"></i>
      <span>Sign Up</span>
    </a>
    <div class="menu target"></div>
  </nav>
  <!-- End NavBar -->