<%- include('partials/header') %>
<div class="container">
  <!-- Section  5-------------------------------------->
  <section class="section-5">
    <h1 class="section-heading">About Us</h1>
    <div class="section-5-icons">
      <i class="fas fa-egg change"></i>
      <i class="fas fa-bread-slice"></i>
      <i class="fas fa-cheese"></i>
      <i class="fas fa-hotdog"></i>
      <i class="fas fa-hamburger"></i>
      <i class="fas fa-fish"></i>
      <i class="fas fa-bone"></i>
      <i class="fas fa-drumstick-bite"></i>
      <i class="fas fa-cookie"></i>
      <i class="fas fa-seedling"></i>
    </div>
  </section>
  <!-- End Section  5----------------------------------->

  <div class="break-line"></div>

  <!-- Section  6--------------------------------------->
  <section class="section-6">

    <div class="expanding-container">
      <div class="panel" style="background-image:url('https://images.pexels.com/photos/326279/pexels-photo-326279.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260')">
        <h1>
          <span> A </span>
          <span> B </span>
          <span> O </span>
          <span> U </span>
          <span> T </span>
        </h1>
        <h3 class="card-title">About</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Proin sed libero enim sed faucibus turpis in eu. Imperdiet sed euismod nisi porta lorem mollis aliquam.</p>
      </div>
      <div class="panel" style="background-image:url('https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')">
        <h1>
          <span> C </span>
          <span> O </span>
          <span> N </span>
          <span> T </span>
          <span> A </span>
          <span> C </span>
          <span> T </span>
        </h1>
        <h3 class="card-title">Contact</h3>
        <address>
          Phone:000-123-4567<br>
          Email: <a href="mailto:webmaster@example.com">CMarket@gmail.com</a><br>
          Box 000,Boston <br>
          USA
        </address>
      </div>
      <div class="panel" style="background-image:url('https://images.pexels.com/photos/349610/pexels-photo-349610.jpeg?cs=srgb&dl=pexels-lukas-349610.jpg&fm=jpg')">
        <h1>
          <span> H </span>
          <span> I </span>
          <span> R </span>
          <span> I </span>
          <span> N </span>
          <span> G </span>
        </h1>
        <h3 class="card-title">We hire!!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet luctus venenatis lectus. Commodo nulla facilisi nullam vehicula ipsum a. Nullam eget felis eget nunc
          Imperdiet sed euismod nisi porta lorem mollis aliquam.</p>
      </div>
    </div>

  </section>
  <!-- End Section  6------------------------------------>
</div>
<%- include('partials/footer') %>